.pack-container {
    position: relative;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    background-color: #000;
    border: 2px solid transparent;
    padding: 1.6rem;
    color: #fff;
    background: linear-gradient(rgb(3, 3, 3) 0px, rgb(2, 2, 2) 0px) padding-box padding-box, linear-gradient(115deg, rgb(118, 184, 255) 22.45%, rgb(240, 134, 242) 45.14%, rgb(250, 195, 123) 73%);                                          
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .pack-container:hover
  {
    border: solid 2px transparent;      
    background: linear-gradient(rgb(3, 3, 3) 0px, rgb(2, 2, 2) 0px) padding-box padding-box, linear-gradient(115deg, rgb(118, 184, 255) 22.45%, rgb(240, 134, 242) 45.14%, rgb(250, 195, 123) 73%);                                          
  }

  .pack-container .list
  {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
  }

  .lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 5%;
  }
  

  .header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 1;
  }
  
  .price-container span:first-child {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  
  .price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  

  .list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list span svg {
    height: 12px;
    width: 12px;
  }
  
  .list p {
    display: block;
    font-family: sans-serif;
  }
  
  .button-container {
    margin-top: 10px;
    display: flex;
    padding: 0;
    justify-content: center;
  }
  
  .button-container button {
    display: block;
    width: 80%;
    padding: 10px 5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    outline: 0;
    border: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(rgb(3, 3, 3) 0px, rgb(2, 2, 2) 0px) padding-box,linear-gradient(115deg, #76b8ff 22.45%, #f086f2 45.14%, #fac37b 73%);
    border-radius: 25px;
    animation: animate 1.5s linear infinite;
    
  }
  
  .button-container button:hover
  {
    background-color: rgba(0, 0, 0, 0);
    color: #020202;
    border: 2px solid transparent;
    background: linear-gradient(115deg, #76b8ff 22.45%, #f086f2 45.14%, #fac37b 73%);
    border-radius: 25px;
    animation: animate 1.5s linear infinite;
    border: none;
  }

