* {
    padding: 0;
    margin: 0;
}

.space {
    width: 100vw;
    height: 100vh;
    background-color: rgb(43, 43, 43);
    position: relative;
}

.stars {
    width: 100%;
    height: 100%;
    background: url(http://www.script-tutorials.com/demos/360/images/stars.png);
    animation: shine 1s infinite 0s alternate;
}

.moon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ffde64;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    &__shadow {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #E6E8D2;
        position: absolute;
        top: -5px;
        left: -17px;
    }

    &__maria {

        &--1 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 20px;
            background-color: rgb(203, 206, 182);
        }

        &--2 {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            top: 25px;
            left: 35px;
            background-color: rgb(203, 206, 182);
        }

        &--3 {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            position: absolute;
            top: 50px;
            left: 17px;
            background-color: rgb(203, 206, 182);
        }
    }
}
.earth {
    z-index: 2;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #62216b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    overflow: hidden;

    &__shadow {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        left: -65px;
        background-image: linear-gradient(rgb(230, 230, 230) 15%, #0097f1 15%, #0097f1 85%, rgb(230, 230, 230) 85%);
    }

    &__land {

        &--1 {
            width: 50px;
            height: 20px;
            background-color: aquamarine;
            border-radius: 10px;
            position: absolute;
            left: 0px;
            top: 20px;

            animation: landMotion 10s linear 0s infinite;
        }

        &--2 {
            width: 100px;
            height: 20px;
            background-color: aquamarine;
            border-radius: 10px;
            position: absolute;
            left: 50px;
            top: 90px;
            animation: landMotion 10s linear 0s infinite;

        }

        &--join {
            width: 20px;
            height: 20px;
            background-color: aquamarine;
            position: absolute;
            left: 110px;
            top: 100px;
            animation: landMotion 10s linear 0s infinite;

        }

        &--3 {
            width: 70px;
            height: 20px;
            background-color: aquamarine;
            border-radius: 10px;
            position: absolute;
            left: 100px;
            top: 115px;
            animation: landMotion 10s linear 0s infinite;

        }

        &--4 {
            width: 70px;
            height: 20px;
            background-color: aquamarine;
            border-radius: 10px;
            position: absolute;
            left: 60px;
            top: 50px;
            animation: landMotion 10s linear 0s infinite;

        }

        &--5 {
            width: 60px;
            height: 20px;
            background-color: aquamarine;
            border-radius: 10px;
            position: absolute;
            left: 120px;
            top: 150px;
            animation: landMotion 10s linear 0s infinite;

        }
    }

    &__cloud {

        &--1 {
            z-index: 5;
            width: 50px;
            height: 13px;
            background-color: white;
            position: absolute;
            top: 50px;
            left: 20px;
            border-radius: 15px;
            animation: landMotion 7s linear 0s infinite reverse;

        }

        &--2 {
            z-index: 5;
            width: 30px;
            height: 13px;
            background-color: white;
            position: absolute;
            top: 150px;
            left: 120px;
            border-radius: 15px;
            animation: landMotion 8s linear 0s infinite reverse;

        }

        &--3 {
            z-index: 5;
            width: 45px;
            height: 13px;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 40px;
            border-radius: 15px;
            animation: landMotion 7s linear 0s infinite reverse;

        }
    }
}



.moon__1 {

    animation: moonRotation1 7s linear 0s infinite forwards, moonOrbit1 7s linear 0s infinite forwards;
    animation-delay: -1s;
}

.moon__2 {

    animation: moonRotation2 7s linear 0s infinite forwards, moonOrbit2 7s linear 0s infinite forwards;
    animation-delay: -2s;
}

.moon__3 {

    animation: moonRotation3 7s linear 0s infinite forwards, moonOrbit3 7s linear 0s infinite forwards;
    animation-delay: -3s;
}

.moon__4 {

    animation: moonRotation3 7s linear 0s infinite forwards, moonOrbit3 7s linear 0s infinite forwards;
    animation-delay: -4s;
}

.moon__5 {

    animation: moonRotation3 7s linear 0s infinite forwards, moonOrbit3 7s linear 0s infinite forwards;
    animation-delay: -5s;
}

@keyframes moonRotation1 {
    0% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    25% {
        transform: translate(-40px, -50%) rotate(10deg) scale(.9);
    }

    50% {
        transform: translate(260px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    51% {
        z-index: 6;
    }

    75% {
        transform: translate(-40px, -50%) rotate(10deg) scale(1.15);
    }

    100% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }
}

@keyframes moonRotation2 {
    0% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    25% {
        transform: translate(-40px, -50%) rotate(10deg) scale(.9);
    }

    50% {
        transform: translate(260px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    51% {
        z-index: 6;
    }

    75% {
        transform: translate(-40px, -50%) rotate(10deg) scale(1.15);
    }

    100% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }
}

@keyframes moonRotation3 {
    0% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    25% {
        transform: translate(-40px, -50%) rotate(10deg) scale(.9);
    }

    50% {
        transform: translate(260px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }

    51% {
        z-index: 6;
    }

    75% {
        transform: translate(-40px, -50%) rotate(10deg) scale(1.15);
    }

    100% {
        transform: translate(-300px, -50%) rotate(10deg) scale(1);
        z-index: 1;
    }
}

@keyframes landMotion {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(200px);
    }
}

@keyframes shine {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }


}

@keyframes moonOrbit1 {

    0% {
        transform: translateX(-280px) translateY(-110px) rotate(0deg);
    }

    25% {
        transform: translateX(0) translateY(-90px) rotate(90deg);
    }

    50% {
        transform: translateX(200px) translateY(-10px) rotate(180deg);
    }

    /* 75% {
        transform: translateX(0) translateY(-30px) rotate(270deg);
    } */

    100% {
        transform: translateX(-280px) translateY(-140px) rotate(360deg);
    }

}

@keyframes moonOrbit2 {

    0% {
        transform: translateX(-280px) translateY(-110px) rotate(0deg);
    }

    25% {
        transform: translateX(0px) translateY(-90px) rotate(90deg);
    }

    50% {
        transform: translateX(200px) translateY(-10px) rotate(180deg);
    }

    /* 75% {
        transform: translateX(0) translateY(-30px) rotate(270deg);
    } */

    100% {
        transform: translateX(-280px) translateY(-140px) rotate(360deg);
    }
}

@keyframes moonOrbit3 {

    0% {
        transform: translateX(-280px) translateY(-110px) rotate(0deg);
    }

    25% {
        transform: translateX(0) translateY(-90px) rotate(90deg);
    }

    50% {
        transform: translateX(200px) translateY(-10px) rotate(180deg);
    }

    /* 75% {
        transform: translateX(0) translateY(-30px) rotate(270deg);
    } */

    100% {
        transform: translateX(-280px) translateY(-140px) rotate(360deg);
    }
}

@keyframes moonOrbit4 {

    0% {
        transform: translateX(-280px) translateY(-110px) rotate(0deg);
    }

    25% {
        transform: translateX(0) translateY(-90px) rotate(90deg);
    }

    50% {
        transform: translateX(200px) translateY(-10px) rotate(180deg);
    }

    /* 75% {
        transform: translateX(0) translateY(-30px) rotate(270deg);
    } */

    100% {
        transform: translateX(-280px) translateY(-140px) rotate(360deg);
    }
}

@keyframes moonOrbit5 {

    0% {
        transform: translateX(-280px) translateY(-110px) rotate(0deg);
    }

    25% {
        transform: translateX(0) translateY(-90px) rotate(90deg);
    }

    50% {
        transform: translateX(200px) translateY(-10px) rotate(180deg);
    }

    /* 75% {
        transform: translateX(0) translateY(-30px) rotate(270deg);
    } */

    100% {
        transform: translateX(-280px) translateY(-140px) rotate(360deg);
    }
}